{% extends 'base.html.twig' %}

{% block title %}Menu!{% endblock %}

{% block body %}
<body class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <main class="text-center w-50">
        <nav class="mx-auto bg-primary rounded p-3">
            <h2 class="alert alert-primary mt-3 fs-5">Menu</h2>
        </nav>
        <p class="alert alert-primary mt-3">
            Menú Exámen
        </p>
        <a href="http://localhost/Examenes-0951/Soler,%20Blanca/ex0951/Ex0951-Pitagoras1.php" class="btn btn-primary d-block mt-3">Pitágoras 1</a>
        <a href="Ex0951-Pitagoras2.php" class="btn btn-primary d-block mt-2">Pitágoras 2</a>
        <a href="Ex0951-Newton.php" class="btn btn-primary d-block mt-3">Newton</a>
        <a href="Cabify.php" class="btn btn-primary d-block mt-3">Cabify</a>

    </main>
</body>
{% endblock %}
